{% extends "layouts/base.twig" %}
{% block content %}
  <h1>{{ institution.name }} / {{ doctor.name }} {{ doctor.last_name }}</h1>
  <table class="table">
    <thead>
        <th>Hora inicio</th>
        <th>Duración</th>
        <th>Institución</th>
    </thead>
    {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.slot.hour }}:00</td>
            <td>1 hs</td>
            <td>{{ appointment.slot.institution.address }}</td>
        <tr>
    {% endfor %}
  </table>
{% endblock %}