{% extends "layouts/base.twig" %}
{% block content %}
  <h1>{{ institution.name }}</h1>
  <div class="institution-detail">
    <p class="street-address">{{ institution.address.streetName }} {{ institution.address.streetNumber }}</p>
    <p class="locality">{{ institution.address.city }} - {{ institution.address.state }}, {{ institution.address.country }}</p>
  </div>
{% endblock %}